:host{
  display: flex;
  justify-content: center;
  background: #1b38bd;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00934e, #67cf43,#fadf1a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,  #00934e, #67cf43,#fadf1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

.logo-span{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  img{
    width: 120px;
  }
}

.container-button-enter{
  display: flex;
  justify-content: center;

  button{
    background-color: #00934E !important;
  }
}

.container-buttons{
  display: flex;
  justify-content: space-between;
}

.section-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
