<nav class="navbar">
    <!-- menu resposivo mobile -->
    <span class="navbar-toogle" id="botao-menu-mobile">
        <mat-icon>menu</mat-icon>
    </span>

    <!-- menu reponsivo para navegadores -->
    <span class="logo">
        <img src="../../../assets/img/vector-money-png-Transparent-Images-Free.png">
    </span>

    <!-- lista de caminhos que estarão no menu -->
    <ul id="menu-list" class="main-nav">
        <li>
            <a class="nav-links" routerLink="/dashboard">Dashboard</a> 
         </li>
        <li>
           <a class="nav-links" routerLink="/relatorio-despesa">Relatório de Despesas</a> 
        </li>
        <li>
            <a class="nav-links" routerLink="/relatorio-receita">Relatório de Receitas</a>
        </li>
        <li>
            <a class="nav-links logout" (click)="logout()"><span>Sair</span> <mat-icon>exit_to_app</mat-icon></a>
        </li>
    </ul>
</nav>